<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MO Covid-19 Vaccination Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #main {
            max-width: 1000px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
    <a href="index.html">< Back</a>
    <div id="main">
        <table class="table">
            <tr>
                <th>Upload date</th>
                <th>Download</th>
            </tr>
        {% for version in versions %}
            <tr>
                <td>{{ version.LastModified }}</td>
                <td><a href="https://mo-covid-vaccine-data.s3.us-east-2.amazonaws.com/age-pct-complete.csv?VersionId={{ version.versionId }}">Download</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>